@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add a Todo";
}
@model Todo
<div>
    <h1>New Task</h1>
    <form method="post" asp-action="Add">
        @*<div>

            <label asp-for="@Model.FriendID" class="form-label"></label>
            <input asp-for="@Model.FriendID" class="form-control">
            <span asp-validation-for="@Model.FriendID" class="text-danger"></span>
        </div>
        *@
        <div>

            <label asp-for="@Model.Task" class="form-label"></label>
            <input asp-for="@Model.Task" class="form-control">
            <span asp-validation-for="@Model.Task" class="text-danger"></span>
        </div>
         <div>
            <label asp-for="Status" class="form-label"></label>
            @*<input asp-for="Status" class="form-control">*@
            <select asp-for="Status" class="form-control">
                <option value="undone" selected>Undone</option>
                <option value="progress">In Progress</option>
                <option value="postpone">Postpone</option>
                <option value="ignore">Ignore</option>
                <option value="done">Done</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div>

            <label asp-for="@Model.Date" class="form-label"></label>
            <input asp-for="@Model.Date" class="form-control" type="date">
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>

        <div class="mt-5">
            <button type="submit" class="btn btn-info">Create</button>
            <a asp-action="Index" class="btn btn-danger">Back</a>
        </div>
    </form>
</div>